// огранич контейнер
$maxWidthContainer:856;

// ширина макета фигмы
$maxWidth:1152;

// мин ширина телефонов
$minWidth:320;

// брекпоинты 
$md1:$maxWidthContainer+12;
$md2:991.98;
$md3:767.98;
$md4:479.98;